.map, .qr-code, .Design, .Ergo, .Mobile{
	background: url(sprites.png) no-repeat;
}

.map{
	background-position: 0 -200px ;
	width: 640px;
	height: 210px;
}

.qr-code{
	background-position: -400px 0;
	width: 171px;
	height: 171px;
}

.Design{
	background-position: 0 0;
	width: 130px;
	height: 130px;
}

.Ergo{
	background-position: -262px 0;
	width: 130px;
	height: 130px;
}

.Mobile{
	background-position: -131px 0;
	width: 130px;
	height: 130px;
}

